/* Set the size of the div element that contains the map */
.information #map {
    height:270px;
    /* The height is 400 pixels */
    width: 40%;
    /* The width is the width of the web page */
  }

.information #map2 {
    height: 270px;
    /* The height is 400 pixels */
    width: 40%;
    /* The width is the width of the web page */
  }

.infoaccueil #saisie{
    padding-left: 20%;
    margin-bottom: 40px;
}

.infoaccueil{
    background: linear-gradient(to right,	rgb(145, 202, 95) 40%, rgb(50, 155, 113));
    color: white;
    padding: 25px;
    padding-bottom: 10%;
}

.infoaccueil #AdresseUtilisateur{
    background-color : rgb(227, 232, 218);
    border-radius: 30 px;
    margin-right: 3%;
}

.infoaccueil #validation{
    background-color : rgb(227, 232, 218);
    border: none;
    border-radius: 2px;
    color: rgb(32, 83, 26);
    padding: 3px 25px;
}

.infoaccueil p,.infoaccueil ul, .infoaccueil h4{
    font-family: Century Gothic;
}

.infoaccueil #Collecte{
    height : 420px;
    padding-top: 20px;
}

.infoaccueil #MessageCollecte{
    text-align: center;
    font-size: 110%;
}

.infoaccueil #TexteCollecte{
    width : 40%;
    float : left;
    margin-left: 7%;
    text-align: justify;
    margin-top: 5%;
    padding-right: 4%;
}

.infoaccueil #map{
    margin-top: 2%;
    float : right;
    margin-right: 7%;
    border-radius: 15px;
}

.infoaccueil #MessageComposte{
    text-align: center;
    font-size: 110%;
}

.infoaccueil #InformationComposteIntro{
    margin-top: 3%;
    text-align: justify;
    margin-bottom: 4%;
}

.infoaccueil #maliste{
    float: right;
    margin-right: 14%;
    color : 				rgb(54, 146, 39);
    background-color: rgb(202, 209, 189);
    border-radius: 40px;
    padding: 30px;
    padding-top: 32px;
    padding-bottom: -40px;;
}

.infoaccueil #InformationComposteTitre{
    padding-bottom: 7px;
    padding-left: 0;
}

.infoaccueil #map2{
    border-radius: 15px;
    margin-left: 8%;
    margin-top: 7%;
}

.infoaccueil #AdresseInvalide{
    text-align: center;
    font-size: 110%;;
}

.infoaccueil #saisie #TitreParis{
    font-family:  Century Gothic;
    padding: 0 !important;
    margin-left: 17%;
}

.infoaccueil #saisie #SousTitreParis{
    font-family:  Century Gothic;
    margin-bottom: 3%;
    font-size: 130%;
    margin-top: -1%;
    margin-left: 2%;
}