
.MailIconCenter{
    color: black;

        justify-content: center;
        background-color: rgb(53, 132, 163);
        border-radius: 5px;

}
.FooterCopyright{
    color: black;
    
    text-align: center;
    font-family: 'fibre_vintagefibre_vintage';
    background-color: rgb(53, 132, 163);
    border-radius: 5px;



}


footer{
    font-size: 32px;
    font-family: 'fibre_vintagefibre_vintage';
    font-weight: 900;
    background-image: url("../images/footerBackground.png") ;
    background-repeat:no-repeat;
    background-size: 100% ;
    height: 500px;

    display: flex!important;
    justify-content: center;
}

